#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Montserrat",sans-serif;
  height: 100%;
}
.container{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content{
  width: 400px;
  height: fit-content;









