#root {
  /*removed the max-width to root because it cannot be full width of the screen*/
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  /*removed the unncessary padding to root because outside of content have gaps
  /* padding: 2rem; */
  text-align: center;
  font-family: "Montserrat",sans-serif;
  height: 100%;
 
}
.container{
  /*made the container height 100vh so it can take the full height of the screen*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .content{
  width: 400px;
  height: fit-content;
}







