.inputGroup{
 display: flex;
 align-items: flex-start;
 flex-direction: column;
 margin-bottom: 10px;
}
.inputGroup label{
    font-weight: 600;
}

input{
    padding:12px;
    width:300px;
    border:1px solid #ccc;
}